[Desktop Entry]
Type=X-MeeGoApplicationExtension
Name=SystemUI Widgets Extension

[X-MeeGoApplicationExtension]
Interface=com.meego.core.MStatusIndicatorMenuExtensionInterface/1.0
Extension=libstatusindicatormenu-widgets.so
